*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f3d3b8;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.8px;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    font-family: "Pacifico", "M PLUS Rounded 1c", cursive;
    font-weight: 400;
    color: #4a4a4a;
}
header div h1{
    background-image: url("../images/top.jpg");
    background-size: cover;
    height: 300px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:#f3d3b8;
    font-family: "Pacifico","M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header nav ul{
    background-color: #a5c3cf;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
header ul li a:hover{
    color: #4a4a4a;
   }
.about{
    padding: 100px;
    text-align: center;
}
.about div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}
.about div img{
    width: 32%;
    height: auto;
}
.about h2{
    font-size: 33px;
}
.about p{
    font-size: 17px;
    letter-spacing: 2px;
}
.menutop{
    background-color: #e59d5c;
    padding: 100px;
}
.menutop h2{
    font-size: 33px;
    text-align: center;
    margin-bottom: 40px;
}
.menutop a:hover{
    opacity: 0.8;
}
.slideshow {
  position: relative;
  width: 100%;
  max-width: 720px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  background: #ddd;
}
.slideshow img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  animation: slideFade 16s infinite ease-in-out;
}
.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 4s; }
.slideshow img:nth-child(3) { animation-delay: 8s; }
.slideshow img:nth-child(4) { animation-delay: 12s; }

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
    transform: scale(1.03);
  }
  40% {
    opacity: 1;
    transform: scale(1.05);
  }
  50% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
  }
}
/*.slideshow:hover img {
  animation-play-state: paused;
}*/
.info{
    padding: 60px;
    text-align: center;
}
.info h2{
    font-size: 33px;
    margin-bottom: 20px;
}
.info p{
    font-size: 18px;
    letter-spacing: 2.5px;
    padding: 30px;
}
.info img{
    width: 150px;
    margin-bottom: 40px;
}
.info a{
    display: inline-block;
    background-color: #a5c3cf;
    padding: 20px 80px;
    border: 2px solid black;
    border-radius: 100px;
}
.info a:hover{
    opacity: 0.8;
}
.access{
    background-color: #e59d5c;
    padding: 60px;
    text-align: center;
}
.access h2{
    font-size: 33px;
    margin-bottom: 20px;
}
.access p{
    margin-bottom: 20px;
}
.access iframe{
    width: 100%;
}
.top-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.top-btn img{
    width: 50px;
}
.top-btn a:hover{
    opacity: 0.8;
}
aside{
    background-color: #a5c3cf;
    padding: 30px;
    text-align: center;
}
aside h2{
    font-size: 33px;
    margin-bottom: 20px;
}
aside form{
    color: #5e4b3e;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
aside label{
    display: block;
}
aside input{
    width: 100%;
    padding: 5px;
    border: 3px solid #fff;
    margin-bottom: 10px;
}
aside textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #fff;
    margin-bottom: 10px;
}
footer{
    background-color: #a99f3c;
    padding: 10px;
    text-align: center;
}
